{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Inoterior - Architecture HTML Template" />
<meta name="keywords" content="interior service wordpress theme, Architecture & Interior Designer Html5 Template, Architecture & Interior Designer, wordpress theme, premium wordpress theme, responsive wordpress theme, decoration theme, wordpress, themeforest, envato, interior design, interior designers, interior designer websites, interior, interior decorator services, decorators wordpress theme, unlimited colors available, ui/ux, ui/ix designs, best wordpress theme, html template, html, javascript, best css theme, css3, elementor theme, latest premium themes">
<meta name="author" content="https://www.themetechmount.com/" />
<meta name="viewport" content=" width=device-width, initial-scale=1, maximum-scale=2" />
<title>Dennies tours and travels</title>

<link rel="shortcut icon" href="images/favicon.png" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="css/animate.css"/>
<link rel="stylesheet" type="text/css" href="css/flaticon.css"/>
<link rel="stylesheet" type="text/css" href="css/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="css/CerebriSans.css"/>
<link rel="stylesheet" type="text/css" href="css/themify-icons.css"/>
<link rel="stylesheet" type="text/css" href="css/slick.css">
<link rel="stylesheet" type="text/css" href="css/prettyPhoto.css">
<link rel="stylesheet" type="text/css" href="css/twentytwenty.css"/>
<link rel="stylesheet" type="text/css" href="css/shortcodes.css"/>
<link rel="stylesheet" type="text/css" href="css/main.css"/>
<link rel="stylesheet" type="text/css" href="css/megamenu.css"/>
<link rel="stylesheet" type="text/css" href="css/responsive.css"/>
<link rel='stylesheet' id='rs-plugin-settings-css' href="revolution/css/rs6.css"> 

</head>

<body class="ttm-one-page-site">

    <div class="page ttm-bgcolor-grey">

        <header id="ttm-home" class="header ttm-header-style-01">
            <div class="ttm-header-wrap">
                <div id="site-header-menu" class="site-header-menu">
                    <div class="site-header-menu-inner ttm-stickable-header">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="site-navigation" class="site-navigation d-flex flex-row align-items-center justify-content-between" data-sticky-height="70">
                                        <div class="site-branding ">
                                            <a class="home-link" href="#" title="Dennies tours and travels" rel="home">
                                                <img id="logo-img" width="195" height="55" class="img-fluid" src="{% static 'img/dennyspng.png" alt="logo-img">
                                            </a>
                                        </div><!-- site-branding end -->
                                        <div class="d-flex flex-row">
                                            <div class="btn-show-menu-mobile menubar menubar--squeeze">
                                                <span class="menubar-box">
                                                    <span class="menubar-inner"></span>
                                                </span>
                                            </div>
                                            <!-- <nav class="main-menu menu-mobile" id="menu">
                                                <ul class="menu">
                                                    <li class="active"><a data-scroll href="#ttm-home">Home</a></li>
                                                    <li><a data-scroll href="#about">About Us</a></li>
                                                    <li><a data-scroll href="#services">Services</a></li>
                                                    <li><a data-scroll href="#portfolio">Portfolio</a></li>
                                                    <li><a data-scroll href="#blog">Blog</a></li>
                                                    <li><a data-scroll href="#contact-us">Contact Us</a></li>
                                                </ul>
                                            </nav> -->
                                            <div class="ttm-widget_header d-flex flex-row justify-content-between">
                                                <!-- widget-info -->
                                                <div class="widget_info d-flex flex-row align-items-center justify-content-end">
                                                    <div class="widget_icon">
                                                        <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-md mb-0">
                                                           <i class="flaticon flaticon-call-1"></i>
                                                        </div>
                                                    </div>
                                                    <div class="widget_content">
                                                        <span class="widget_title ttm-textcolor-skincolor">HAVE ANY QUESTIONS?</span>
                                                        <h3 class="widget_number">+0 123 888 555</h3>
                                                    </div>
                                                </div><!-- widget-info end -->
                                            </div>
                                        </div>
                                    </div><!-- site-navigation end-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header><!--header end-->


    

        <!--site-main start-->
        <div class="site-main">



           


        

          





            


            


            <!--broken-section-->
            <section id="contact-us" class="ttm-row broken-section ttm-bgcolor-grey bg-layer-equal-height clearfix">
                <div class="container">
                    <div class="row">
                        <!-- <div class="col-lg-6"> -->
                            <!-- <div class="col-bg-img-two ttm-bg ttm-col-bgimage-yes ttm-left-span z-index-2 spacing-4">
                                <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                                <div class="layer-content ttm-bgcolor-white">
                                    <div class="col-bg-img-four ttm-bg ttm-col-bgimage-yes text-center border spacing-6">
                                        <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                                        <h2 class="font-size-34 mb-10">Emergency Interiors Services</h2>
                                        <p>Please do not hesitate to send us a message. We are looking forward to hearing from you.</p>
                                        <div class="d-flex flex-row align-items-center justify-content-center mb-10 mt-10">
                                            <div class="widget_icon">
                                                <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-md mb-0 pt-5">
                                                   <i class="flaticon flaticon-call"></i>
                                                </div>
                                            </div>
                                            <div class="widget_content">
                                                <h3 class="widget_number mb-0">Waiting Call Us +123 456 7890</h3>
                                            </div>
                                        </div>
                                        <ul class="social-icons square">
                                            <li>
                                                <a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Facebook"><i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Twitter"><i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="tooltip-bottom" target="_blank" href="#" data-tooltip="LinkedIn"><i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Pinterest"><i class="fa fa-pinterest"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-lg-12">
                            <!-- col-img-img-three -->
                            <div class="col-bg-img-three ttm-bg ttm-col-bgimage-yes ttm-right-span ttm-bgcolor-darkgrey h-auto spacing-5">
                                <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                                <div class="layer-content">
                                    <!-- section title -->
                                    <!-- <div class="section-title">
                                        <div class="title-header">
                                            <h2 class="title">Send Your Message To Us</h2>
                                        </div>
                                    </div> -->
                                    <div class="padding_top30">
                                        <form id="contact_form" class="contact_form wrap-form clearfix" method="post" novalidate="novalidate" action="#">
                                            {%csrf_token%}
                                            <div class="row ttm-boxes-spacing-20px">
                                                <div class="col-md-6">
                                                    <label>
                                                        <span class="text-input"><input name="dname" type="text" value="" placeholder="Driver name" required="required"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>
                                                        <span class="text-input"><input name="gname" type="text" value="" placeholder="Guest Name..." required="required"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>
                                                        <span class="text-input"><input name="bkid" type="number" value="" placeholder="Booking id" required="required"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>
                                                        <span class="text-input"><input name="adrs" type="text" value="" placeholder="Address" required="required"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>
                                                        <select class="form-control">
                                                            <option>Vehicle selection</option>
                                                            <option>Innova</option>
                                                            <option>duster</option>
                                                            <option>traveller</option>
                                                            <option>bus</option>
                                                          </select>
                                                        <!-- <span class="text-input"><input name="phone" type="text" value="" placeholder="Phone Number..." required="required"></span> -->
                                                    </label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>
                                                        <span class="text-input"><input name="vno" type="text" value="" placeholder="Vehicle Number..." required="required"></span>
                                                    </label>
                                                </div>
                                                
                                                <div class="col-md-6">
                                                    <label>
                                                        <span class="text-input"><textarea name="raddress" cols="50" rows="5" placeholder="Reporting address" required="required"></textarea></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>
                                                        <span class="text-input"><textarea name="destaddress" cols="50" rows="5" placeholder="Destination address" required="required"></textarea></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>
                                                        <span class="text-input"><input name="vno" type="date" value="" placeholder="starting date" required="required"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>
                                                        <span class="text-input"><input name="vno" type="time" value="" placeholder="starting time" required="required"></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>
                                                        <span class="text-input"><input name="vno" type="number" value="" placeholder="starting km" required="required"></span>
                                                    </label>
                                                </div>
                                                <div class="ttm-box-col-wrapper col-lg-12">
                                                    <!-- <p class="cookies">
                                                        <input id="cookies-consent" name="cookies-consent" type="checkbox" value="yes">
                                                        <label for="cookies-consent"> It would be great to hear from you! If you got any questions.</label>
                                                    </p> -->
                                                    <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-round ttm-btn-style-fill ttm-icon-btn-right ttm-btn-color-skincolor mt-15 w-25 text-center" href="#" tabindex="0">Send Message <i class="ti ti-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div><!-- col-img-bg-img-two end-->
                        </div>
                    </div><!-- row end -->
                </div>
            </section>
            <!--broken-section end-->


            


        </div><!--site-main end-->


        <!--footer start-->
        <footer class="footer ttm-bg ttm-bgcolor-darkgrey widget-footer clearfix">
            <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
                <div class="first-footer">
                    <div class="container">
                        <div class="row">
                            <div class="widget-area col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                <aside class="widget widget-text">
                                    <!--featured-icon-box-->
                                    <div class="featured-icon-box icon-align-before-content">
                                        <div class="featured-icon">
                                            <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-skincolor ttm-icon_element-style-round ttm-icon_element-size-sm">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-desc">
                                                <h3>+123 456 78910 / 11</h3>
                                                <p>Have a question? call us now</p>
                                            </div>
                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </aside>
                            </div>
                            <div class="widget-area col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                <aside class="widget widget-text">
                                    <!--featured-icon-box-->
                                    <div class="featured-icon-box icon-align-before-content">
                                        <div class="featured-icon">
                                            <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-skincolor ttm-icon_element-style-round ttm-icon_element-size-sm">
                                                <i class="fa fa-envelope-o"></i>
                                            </div>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-desc">
                                                <h3>info@domainname.com</h3>
                                                <p>Need support? Drop us an email</p>
                                            </div>
                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </aside>
                            </div>
                            <div class="widget-area col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                <aside class="widget widget-text">
                                    <!--featured-icon-box-->
                                    <div class="featured-icon-box icon-align-before-content">
                                        <div class="featured-icon">
                                            <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-skincolor ttm-icon_element-style-round ttm-icon_element-size-sm">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-desc">
                                                <h3>Mon – Sat 07:00 – 21:00</h3>
                                                <p>We are open on</p>
                                            </div>
                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="second-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget-area">
                                <div class="widget widget_nav_menu clearfix">
                                   <h3 class="widget-title">Quick Links</h3>
                                    <ul id="menu-footer-service-link" class="menu">
                                        <li><a href="#">Make Appointments</a></li>
                                        <li><a href="#">Before & After</a></li>
                                        <li><a href="#">Customer Treatments</a></li>
                                        <li><a href="#">Our Special Team</a></li>
                                        <li><a href="#">Departments Services</a></li>
                                        <li><a href="#">About our Firm</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 widget-area">
                                <div class="widget widget_text clearfix">
                                    <div class="textwidget widget-text text-center ml_10 res-991-ml-0 mr-35 res-991-mr-0">
                                        <div class="footer-logo">
                                            <img width="205" height="65" id="footer-logo-img" class="img-fluid" src="images/footer-logo.svg" alt="image">
                                        </div>
                                        <p>Inoterior design consultancy firm that brings sensitivity to the design top hotels, offices & homes around the world.</p>
                                        <a class="ttm-btn ttm-btn-size-md btn-inline ttm-icon-btn-right ttm-btn-color-skincolor" href="renewable-resource.html" tabindex="0">READ MORE<i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="footer-box">
                                    <div class="ttm-textcolor-white text-center">
                                        <h3>Sign Up To Get Latest Updates</h3>
                                        <form id="subscribe-form" class="newsletter-form" method="post" action="#" data-mailchimp="true">
                                            <div class="mailchimp-inputbox clearfix" id="subscribe-content">
                                                <p><input type="email" name="email" placeholder="Your Email Address..." required=""></p>
                                                <p><button class="submit ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-fill ttm-btn-color-skincolor" type="submit">SUBMIT NOW</button></p>
                                            </div>
                                            <div id="subscribe-msg"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 widget-area">
                                <div class="widget widget_timing clearfix">
                                   <h3 class="widget-title">Our Time Schedule</h3>
                                   <ul class="ttm-pricelist-block"><li>Mon to Wed
                                        <span class="service-price">10:00 am to 2:30 pm</span></li><li>Thu to Fri
                                        <span class="service-price">11:00 am to 4:30 pm</span></li><li>Saturday
                                        <span class="service-price">10:00 am to 1:00 pm</span></li><li>Sunday<span class="service-price">Closed</span></li>
                                    </ul>
                                    <br>
                                    <h3 class="widget-title">Follow Us On</h3>
                                    <ul class="social-icons square">
                                        <li>
                                            <a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Facebook"><i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Twitter"><i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="tooltip-bottom" target="_blank" href="#" data-tooltip="LinkedIn"><i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Pinterest"><i class="fa fa-pinterest"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-footer-text">
                    <div class="container">
                        <div class="row copyright">
                            <div class="col-md-12">
                                <div class="">
                                    <span>Copyright © 2021 InoteriorTheme by&nbsp;<a href="#" class="ttm-textcolor-skincolor">ThemetechMount</a></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <ul id="menu-footer-menu" class="footer-nav-menu">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Privacy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        </footer>
        <!--footer end-->

        <!--back-to-top start-->
        <a id="totop" href="#top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!--back-to-top end-->

</div><!-- page end -->


    <!-- Javascript -->

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-1.4.1.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script> 
    <script src="js/jquery.easing.js"></script>    
    <script src="js/jquery-waypoints.js"></script>    
    <script src="js/jquery-validate.js"></script> 
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/numinate.min.js"></script>
    <script src="js/imagesloaded.min.js"></script>
    <script src="js/jquery-isotope.js"></script>
    <script src="js/jquery.event.move.js"></script>
    <script src="js/jquery.twentytwenty.js"></script>
    <script src="js/circle-progress.min.js"></script>
    <script src="js/main.js"></script>

    <!-- Revolution Slider -->
    <script src="revolution/js/slider.js"></script>
    <script  src='revolution/js/revolution.tools.min.js'></script>
    <script  src='revolution/js/rs6.min.js'></script>
    <!-- Javascript end-->


</body>

</html>
