{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login_signup/main.css' %}">
</head>
<body>
    <div class="form-modal">
    
        <div class="form-toggle">
            <button id="login-toggle" onclick="toggleLogin()">log in</button>
            <button id="signup-toggle" onclick="toggleSignup()">sign up</button>
        </div>
    
        <div id="login-form">
            <form action="{% url 'login' %}" method="post">
                {%csrf_token%}
                <input type="email" name="email" placeholder="Enter email" value="{{static_mail}}" required="" />
                <input type="password" name="pswd" placeholder="Enter password" required="" />
                <button type="submit" class="btn login">login</button>

                <div style="text-align:center">
                    <a href="/" style="text-decoration:none;">Back</a>
                </div>
                {% comment %} <p><a href="javascript:void(0)">Forgotten account</a></p> {% endcomment %}
                <hr/>
    
            </form>
        </div>
    
        <div id="signup-form">
            <form action="{% url 'signup' %}" method="post">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Choose username" value="{{static_name}}"  required="" />
                <input type="email" name="email" placeholder="Enter your email" value="{{static_mail}}" required="" />
                <input type="password" name="pswd1" placeholder="Password" required="" />
                <input type="password" name="pswd2" placeholder="Confirm password" required="" />
                <button type="submit" name="" class="btn signup">create account</button>

                <div style="text-align:center">
                    <a href="/" style="text-decoration:none;">Back</a>
                </div>
                <!-- <p>Clicking <strong>create account</strong> means that you are agree to our <a href="javascript:void(0)">terms of services</a>.</p> -->
                <hr/>
               
            </form>
        </div>
    
    </div>
    <script src="{% static 'login_signup/script.js' %}"></script>

    <script>
        {% if user_error %}
            alert('{{user_error}}')
        {% elif reg_success %}
            alert('{{reg_success}}')
        {% endif %}
        
    </script>
</body>
</html>