{% extends 'base.html' %}

{% block title %}
Driver Dashboard
{% endblock %}

{% block sidebar %}
{% include 'driver/sidebar.html' %}
{% endblock %}

{% block styles %}
<style>
  {% comment %} releasing_address styles {% endcomment %}
      li.My_LI{
          padding-top: 15px;
          padding-bottom: 15px;
          list-style: none;
          font-size: 12px;
          border-bottom: 1px solid gray;
      }
      ul#Releasing_list{
          padding: 15px;
          background-color: white;
          border-radius: 10px;
          box-shadow: 0px 0px 10px rgb(168, 167, 167);
      }
      #Releasing_list{
        display: none;
      }

      {% comment %} add route styles {% endcomment %}

      li.My_LI_Routes{
        padding-top: 15px;
        padding-bottom: 15px;
        list-style: none;
        font-size: 12px;
        border-bottom: 1px solid gray;
        }
        ul.search_list{
            padding: 15px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgb(168, 167, 167);
        }
        .search_list{
          display: none;
        }

</style>
{% endblock %}


{% block content %}

<section class="section">
    
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-6">
        <div class="card">
            <form method="post" action="{% url 'recent_trip' pk %}" onsubmit="return validate()">
              {% csrf_token %}
                <div class="card-header">
                    <h4>Complete Trip -> Step-2</h4>
                </div>
                <div class="card-body">

                  {% comment %} <div class="form-group">
                    <label>Booking Id</label>
                    <input  id="name" name="booking_id" type="Number" min="1" class="form-control">
                    <div class="invalid-feedback">
                        {{ unicorn.errors.company_name.0.message }}
                  </div> {% endcomment %}


                    {% comment %} <div class="form-group">
                        <label>Driver Name</label>
                        <div class="form-control border-0">abhi</div>
                        <input  id="" name="driver_name" value="abhi" readonly type="text" class="form-control">
                    </div>  {% endcomment %}
                    
                    {% comment %} <div class="form-group">
                        <label>Guest Name</label>
                        <input  id="" name="guest_name" type="text" class="form-control" required="">
                        <div class="invalid-feedback">
                            {{ unicorn.errors.company_name.0.message }}
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea name="guest_address" class="form-control " required=""></textarea>
                        <div class="invalid-feedback">
                            {{ unicorn.errors.description.0.message }}
                        </div>
                    </div> {% endcomment %}
                    
                    {% comment %} <div class="form-group">
                      <label>Enter Start Date</label>
                      <input  id="start_date" name="start_date" value="{{trip_details_db.start_date}}" type="date" class="form-control">
                      
                      <div class="invalid-feedback">
                          {{ unicorn.errors.company_name.0.message }}
                      </div>
                    </div> {% endcomment %}

                  
                  
                  
                  {% comment %} <div class="form-group">
                      <label>Enter Start Kilometer</label>
                      <input  id="" name="start_km" value="{{trip_details_db.start_km}}" type="text" min="1" class="form-control" required="">
                      <div class="invalid-feedback">
                          {{ unicorn.errors.company_name.0.message }}
                      </div>
                  </div> {% endcomment %}

                  <div class="form-group mb-0">
                    <label>Releasing Address</label>
                    <input type="text" id="Releasing_search" name="releasing_address" class="Releasing_searchTerm form-control" value="" placeholder="search place" required="">
                    {% comment %} <textarea  name="releasing_address" id="releasing_address" class="form-control releasing_address" required=""></textarea> {% endcomment %}
                    <br>
                    <ul style="list-style: none;" class="Releasing_search_list" id="Releasing_list" >
                             
                    </ul>
                </div>

                {% comment %} <div class="form-group mb-0">
                    <label>Add Route Address</label>
                    <input type="text" name="releasing_address" id="try2" class="form-control releasing_address" required="">
                    <textarea  name="releasing_address" id="try2" class="form-control releasing_address" required=""></textarea>
                    
                </div> {% endcomment %}

            
               

               

                  

                  <!--total_days calculation in django_backend(in form submission) -->
                  <div class="form-group">
                      <label>End Date</label>
                      <input  id="end_date" name="end_date" type="date" class="form-control" required="">
                      <span id="checker"></span>
                      <div class="invalid-feedback">
                          {{ unicorn.errors.company_name.0.message }}
                      </div>
                  </div>

                  <!--for calculating total-date_time duration on a trip - using javascript-->
                  <!--for calculating (start_date,start_time -form db) -minus- (end_date,end_time -from input field) using javascript-->
                  <input  id="start_date" name="start_date" value="{{sdate}}" type="hidden"><!--start date-->
                  <input  id="start_time" name="start_time" value="{{stime}}" type="hidden"><!--start time-->

                  <!--passing calculated total-date_time to django_backend(in form submission)-->
                  <input type="hidden" id="total_time" name="total_time">

                  <div class="form-group">
                      <label>End time</label>
                      <input  id="end_time" name="end_time" type="time" class="form-control" required="">
                      <br>
                      <span id="total_time_span"></span>
                      
                      <div class="invalid-feedback">
                          {{ unicorn.errors.company_name.0.message }}
                      </div>
                  </div>

                  <!--total_km calculation in django_backend(in form submission) -->
                  <div class="form-group">
                      <label>Enter End Kilometer</label>
                      <input  id="" name="end_km" type="number" min="{{trip_details_db.start_km|add:'1'}}" class="form-control" required="">
                      <div class="invalid-feedback">
                          {{ unicorn.errors.company_name.0.message }}
                      </div>
                  </div>

                  {% comment %} <div class="form-group">
                      <label>Choose Vehicle</label>
                      <select name="vehicle" id="" required class="form-control">
                        <option value="" selected disabled>--Select--</option>
                        <option value="innova">Innova</option>
                        <option value="traveller">Traveller</option>
                        <option value="duster">Duster</option>
                        <option value="bus">bus</option>
                      </select>
                  </div> {% endcomment %}
                    
                    {% comment %} <div class="form-group">
                        <label>Phone </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">+91</span>
                            </div>
                        <input unicorn:model.defer="profile.phonenumber" type="text" class="form-control {% if unicorn.errors.phonenumber %} is-invalid {% endif %}">
                        <div class="invalid-feedback">
                            {{ unicorn.errors.phonenumber.0.message }}
                        </div>
                        </div>
                    </div> {% endcomment %}

                    {% comment %} <div class="form-group">
                      <label>Vehicle Number</label>
                      <input  id="" name="vehicle_number" type="text" min="1" class="form-control" required="">
                      <div class="invalid-feedback">
                          {{ unicorn.errors.company_name.0.message }}
                      </div>
                  </div> {% endcomment %}


               
                <!--main rote adder logic start-->
                <div class="form-group">
                  <label>Add Route Address</label>
                  <div class="input-group mb-3 search">
                    {% comment %} <input type="text" class="form-control" id="route_data" > {% endcomment %}

 
                      <input type="text" id="search" class="searchTerm form-control" value="" placeholder="search place">
                      {% comment %} <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                     </button> {% endcomment %}


                   <div class="input-group-append">
                      {% comment %} <button class="btn btn-primary" type="button">Button</button>  {% endcomment %}
                      <span class="btn btn-primary" id="route_adder">Add</span>
                    </div> 
                  </div>
                  <ul style="list-style: none;" class="search_list"id="list" >
                             
                  </ul>
                  
                  {% comment %} <div class="form-group">
                    <select name="my_route_data" id="my_route_data" class="form-control" required="" multiple="multiple" >
                      <!-- <option value="" selected disabled>Select</option> -->
                    </select>
                  </div> {% endcomment %}

                  <div class="form-group" id="multiple_div"> 
                    <select name="my_route" id="my_route" class="form-control" multiple="multiple" >
                      <!-- <option value="" selected disabled>Select</option> -->
                    </select>
                  </div> 
                  
                </div>

                <!--passing group data to django-->
                 <!-- purpose of this- input field is for passing multiple route_list to views.py -->
                 <input type="hidden" name="all_routes" id="my_route_list" class="form-control">

                 <!--main rote adder logic start-->

                    <br>
                    <div class="form-group mb-0">
                      <label>Guest Remark</label>
                      <textarea  name="remark" id="remark" class="form-control"></textarea>
                    </div>


                    <br>
                    <div class="form-group mb-0">
                        <label id="guest_sign">Guest Signature</label>
                        <canvas id="signature-pad" class="signature-pad" style="width:100%" height=300></canvas>
                        <input type="hidden" id="signature" name="guest_signature">
                    </div>

                    {% comment %} <div class="d-flex justify-content-center p-5 form-control"> {% endcomment %}
                      {% comment %} <div class="wrapper d-inline-flex p-2 shadow form-control"> {% endcomment %}
                          {% comment %} <div class="d-flex flex-column">
                            <canvas id="signature-pad" class="signature-pad" width=500 height=300></canvas>
                          </div> {% endcomment %}
                      {% comment %} </div> {% endcomment %}
                    {% comment %} </div> {% endcomment %}


                </div>
                <div class="card-footer text-right">
                    {% comment %} <button class="btn btn-primary">Save</button> {% endcomment %}
                    
                    <a href="javascript:void(0);" id="clear-signature" class="btn btn-secondary">Clear</a>
                    <a href="{{request.META.HTTP_REFERER}}" id="" class="btn btn-info">back</a>
                    <button id="save" class="btn btn-danger ">End Trip</button>
                </div>
            </form>
        </div>
    </div>
  </div>
   

</section>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
  <script>
    var canvas = document.getElementById('signature-pad');
    var signaturePad = new SignaturePad(canvas, {
      minWidth: 1,
      maxWidth: 2,
      penColor: 'rgb(0, 0, 0)'
    });

    document.getElementById('clear-signature').addEventListener('click', function () {
      signaturePad.clear();
    });

    document.getElementById('save').addEventListener('click', function () {
      if (signaturePad.isEmpty()) {
        alert('Please provide signature first.');
      } else {
        var dataURL = signaturePad.toDataURL();
        document.getElementById('signature').value = dataURL;
      }
    });
  </script>

  <script>
    $( document ).ready(function() {
       
      //alert('end_time text','{{stimea}}');
      //alert('end_time db','{{trip_details_db.start_time}}');
      //alert('end_time 1',$("#start_time").val());
      //alert('end_time 2',document.getElementById('start_time').value);
        


        {% comment %} 
        $("#end_date").on('change',function(){
          //var minute=$("#duration").val(); 
          alert('end_date')
          var d1 =document.getElementById('start_date').value;
          var d2 =document.getElementById('end_date').value;
          const dateOne = new Date(d1);
          const dateTwo = new Date(d2);
          console.log(typeof(d1))
          console.log(typeof(d2))
          const time = Math.abs(dateTwo - dateOne);
          const days = Math.ceil(time / (1000 * 60 * 60 * 24));
          alert(days);
          console.log(days);
          //$("#checker").html(days);  

          document.getElementById('checker').innerHTML=days;

        }); {% endcomment %}


        $("#end_date, #end_time").on('change',function(){
          //var minute=$("#duration").val(); 
          //alert('end_time',$("#end_time").val());
          //alert('end_time',document.getElementById('end_time').value);

          //var t1 =parseInt(document.getElementById('start_time').value);
          //var t2 =parseInt(document.getElementById('end_time').value);

          var d1 =document.getElementById('start_date').value;
          var d2 =document.getElementById('end_date').value;

          var t1 =document.getElementById('start_time').value;
          var t2 =document.getElementById('end_time').value;

          //var iNum = parseInt(sVal); 

          console.log(t1)
          console.log(t2)
          console.log(typeof(t1))
          console.log(typeof(t2))

           //first date-time
          //var str = 'Hello, World, etc';
          var array_dateOne = d1.split('-');
          var array_timeOne = t1.split(':');
          //array_dateOne
          for(var i = 0; i < array_dateOne.length; i++) {
            // Trim the excess whitespace.
            array_dateOne[i] = array_dateOne[i].replace(/^\s*/, "").replace(/\s*$/, "");
            // Add additional code here, such as:
            //alert(array_dateOne[i]);
          }
          //array_timeOne
          for(var i = 0; i < array_timeOne.length; i++) {
            // Trim the excess whitespace.
            array_timeOne[i] = array_timeOne[i].replace(/^\s*/, "").replace(/\s*$/, "");
            // Add additional code here, such as:
            //alert(array_timeOne[i]);
          }

          //second date-time
          var array_dateTwo = d2.split('-');
          var array_timeTwo = t2.split(':');
          //array_dateTwo
          for(var i = 0; i < array_dateTwo.length; i++) {
            // Trim the excess whitespace.
            array_dateTwo[i] = array_dateTwo[i].replace(/^\s*/, "").replace(/\s*$/, "");
            // Add additional code here, such as:
            //alert(array_dateTwo[i]);
          }
          //array_timeTwo
          for(var i = 0; i < array_timeTwo.length; i++) {
            // Trim the excess whitespace.
            array_timeTwo[i] = array_timeTwo[i].replace(/^\s*/, "").replace(/\s*$/, "");
            // Add additional code here, such as:
            //alert(array_timeTwo[i]);
          }

          //console.log(parseInt(array_timeOne[0]),':',parseInt(array_timeOne[1]), typeof(parseInt(array_timeOne)))
          //console.log(array_timeTwo[0],':',array_timeTwo[1], typeof(array_timeTwo))

          console.log(array_dateOne)
          console.log(array_dateTwo)

                    

          //var t1=$("#start_time").val(); 
          //var t2=$("#end_time").val(); 
          //const timeOne = new Date(2000, 0, 1, 10, 0);
          //const timeTwo = new Date(2000, 0, 1, 10, 15);
          const timeOne = new Date(parseInt(array_dateOne[0]), parseInt(array_dateOne[1]), parseInt(array_dateOne[2]), parseInt(array_timeOne[0]), parseInt(array_timeOne[1]));
          const timeTwo = new Date(parseInt(array_dateTwo[0]), parseInt(array_dateTwo[1]), parseInt(array_dateTwo[2]), parseInt(array_timeTwo[0]), parseInt(array_timeTwo[1]));

          if (timeTwo < timeOne){
            timeTwo.setDate(dateTwo.getDate() + 1);
          }
          var diff = timeTwo - timeOne; // milliseconds

          //convert milliseconds to hour
          var msec = diff;
          var hh = Math.floor(msec / 1000 / 60 / 60);
          msec -= hh * 1000 * 60 * 60;
          var mm = Math.floor(msec / 1000 / 60 );
          msec -= mm * 1000 * 60;
          var ss = Math.floor(msec / 1000);
          msec -= ss * 1000;

          // diff = 28800000 => hh = 8, mm = 0, ss = 0, msec =0
          
          //alert(hh+mm);
          
          //$("#checker").html(days);  

          var hDisplay = hh > 0 ? hh + (hh == 1 ? " hour, " : " hours, ") : "";
          var mDisplay = mm > 0 ? mm + (mm == 1 ? " minute, " : " minutes, ") : "";
          var result= hDisplay + mDisplay;

          //document.getElementById('checker2').innerHTML='Total Time :'+hh+':'+mm + 'hr';
          document.getElementById('total_time_span').innerHTML='Total Time : '+ result;
          $("#total_time").attr('value',result);

      });









    });


    
  </script>




  {% comment %} Places search area  old{% endcomment %}
  <script>
    $( function() {

      var result = [];

      $("#releasing_address").on('keypress',function(){


        var search = $('#releasing_address').val();
        var token  = "pk.eyJ1Ijoia2V2b2pvcCIsImEiOiJjbDQ5azlsZW8wNmZ1M2hvNzcwcGpvMjNpIn0.UpQvTFXdpCC2JQvkM3ZYfw";
        $.getJSON('https://api.mapbox.com/geocoding/v5/mapbox.places/'+search+'.json?country=in&proximity=ip&language=en&access_token='+token, function(json_data){
          
          //console.log(json_data,typeof(json_data));
          for(var i=0; i<json_data.features.length; i++)
          {
              //var listItem = document.createElement("LI");

              //result = json_data.features[i].place_name;
              //result.push(json_data.features[i].place_name);
              //console.log(result,typeof(result));

              
              
              //console.log(json_data.features[i].place_name);

              //result.push(json_data.features[i].place_name) //list append

              result[i] = json_data.features[i].place_name; //dict
              
              
              //console.log(typeof(abc));
              
            } 
            
            
            
        }); //end

        //console.log(result,typeof(result),'result new')
        
      }); //onchange end
      


      $( "#releasing_address" ).autocomplete({
        source: result
          }); 
     

      }); // auto call function end
  </script>



  {% comment %} multiple Place selector old{% endcomment %}
  <script>
    $( function() {

      var result = [];

      $("#route_data").on('keypress',function(){


        var search = $('#route_data').val();
        var token  = "pk.eyJ1Ijoia2V2b2pvcCIsImEiOiJjbDQ5azlsZW8wNmZ1M2hvNzcwcGpvMjNpIn0.UpQvTFXdpCC2JQvkM3ZYfw";
        $.getJSON('https://api.mapbox.com/geocoding/v5/mapbox.places/'+search+'.json?country=in&proximity=ip&language=en&access_token='+token, function(json_data){
          
          //console.log(json_data,typeof(json_data));
          for(var i=0; i<json_data.features.length; i++)
          {
              //var listItem = document.createElement("LI");

              //result = json_data.features[i].place_name;
              //result.push(json_data.features[i].place_name);
              //console.log(result,typeof(result));

              
              
              //console.log(json_data.features[i].place_name);

              //result.push(json_data.features[i].place_name) //list append

              result[i] = json_data.features[i].place_name; //dict
              
              
              //console.log(typeof(abc));
              
            } 
            
            
            
        }); //end

        //console.log(result,typeof(result),'result new')
        
      }); //onchange end
      


      $( "#route_data" ).autocomplete({
        source: result
          }); 
     


      }); // auto call function end
  </script>



{% comment %} form submit validation {% endcomment %}
<script>
  function validate() {

   var total_time_valid = document.getElementById('total_time').value;
   var valid = document.getElementById('signature').value == '';
   var my_route_valid = document.getElementById('my_route').value;
   console.log(valid);

   if(total_time_valid =='' ){
      alert('Please add valid End Date and End Time');
      return false;
   }
   else if(valid != '' ){
     //alert('Please Fill Signature');

     document.getElementById("guest_sign").style.color = "red";
     return false;
   
   }
   else if(my_route_valid == '' ){
      alert('Please add valid routes');
      return false;
   }
   else{
     //alert('validation successfull new');
     return true;
   }


   }

   $("#signature-pad").on('click',function(){
     document.getElementById("guest_sign").style.color = "black";
   });

</script>

<!-- select2 cdn library -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!-- select2 cdn library -->

<script>

  $(document).ready(function(){

    // select2 library
    $('#my_route').select2({
      // placeholder: 'Select Technologies',
      //closeOnSelect: false,
      theme: 'classic',
    });

    
    $('#multiple_div').hide();


  });



  $("#my_route").on('change',function(){
  
    var route_list="";

      $('#my_route option:selected').each(function(){
              route_list += $(this).text()+"-"
              // tech_name += $('#my_tech option:selected').text()+",";
          })
      
      route_list=route_list.substring(0,route_list.length-1) //removing last comma

      $('#my_route_list').val(route_list);
      

   
            
            
  });

  {% comment %} $("#releasing_address").on('change',function(){

    alert('try');
  
    var search = $('#releasing_address').val();
    var route_list="";

      
      route_list += search+"-"
      
      //route_list=route_list.substring(0,route_list.length-1) //removing last comma

      $('#my_route_list').val(route_list);
      

   
            
            
    }); {% endcomment %}

      $("#route_adder").on('click', function(){
        //alert($(this).val());

        $('#multiple_div').show();
        //var select = document.getElementById("my_route");

        if ($('#search').val() != '' ){
            var search = $('#search').val();
            var slots_list = "";

            $('#my_route').append("<option value='"+search+"' selected>"+search+"</option>");
            
            $('#search').each(function(){

                if($(this).val() ) {
                slots_list += $(this).val()+"-"
                }
                // else{
                //     alert('null')
                // }
            });

            //alert(slots_list,'hai');
            
            slots_list=slots_list.substring(0,slots_list.length-1) //removing last comma

            //$('#try2').val(slots_list);
            //$('#my_route_list').val(slots_list);
            $('#search').val('');

            //$('#my_route').append("<option value='"+slots_list+"' selected>"+slots_list+"</option>");


            var route_list="";

            $('#my_route option:selected').each(function(){
                    route_list += $(this).text()+"-"
                    // tech_name += $('#my_tech option:selected').text()+",";
                })
            
            route_list=route_list.substring(0,route_list.length-1) //removing last comma

            $('#my_route_list').val(route_list);

        }
        else{
          alert('Please enter valid route');
        }
        


      });

</script>


{% comment %} for Releasing address {% endcomment %}
<script>
  //setup before functions
  var Releasing_typingTimer;                //timer identifier
  var Releasing_doneTypingInterval = 1000;  //time in ms (1 seconds)
 

  //on keyup, start the countdown
  $('#Releasing_search').keyup(function(){
      clearTimeout(Releasing_typingTimer);
      if ($('#Releasing_search').val()) {
          Releasing_typingTimer = setTimeout(Releasing_doneTyping, Releasing_doneTypingInterval);
      }
  });
  var Releasing_list = document.getElementById("Releasing_list");
  function Releasing_doneTyping () {
      var Releasing_search = $('#Releasing_search').val();
      var Releasing_token  = "pk.eyJ1Ijoia2V2b2pvcCIsImEiOiJjbDQ5azlsZW8wNmZ1M2hvNzcwcGpvMjNpIn0.UpQvTFXdpCC2JQvkM3ZYfw"; //mapbox token
      $.getJSON('https://api.mapbox.com/geocoding/v5/mapbox.places/'+Releasing_search+'.json?country=in&proximity=ip&language=en&access_token='+Releasing_token, function(Releasing_json_data){
        Releasing_list.innerHTML = "";
     for(var i=0; i<Releasing_json_data.features.length; i++)
      {
          var Releasing_listItem = document.createElement("LI");

          Releasing_listItem.className = "My_LI";

          Releasing_listItem.textContent = Releasing_json_data.features[i].place_name;

          Releasing_list.appendChild(Releasing_listItem);
          Releasing_listItem.addEventListener("click", function(){
              event.preventDefault();
              //send listitem to input
              $('#Releasing_search').val(this.textContent);
             
              {% comment %} $.ajax({
                  url: "",
                  type: "POST",
                  data: Releasing_listItem.content,
                  success: function(data){
                      alert("data");
                      Releasing_list.innerHTML = "";

                  }
              }); {% endcomment %}
          });
      } 
      //clear the list
      //
      $('.Releasing_search_list').slideDown();
      $('.Releasing_search_list').mouseleave(function(){
          $('.Releasing_search_list').slideUp();
      });
      });
      

  }
</script>


{% comment %} for add route address {% endcomment %}
<script>
  //setup before functions
  var typingTimer;                //timer identifier
  var doneTypingInterval = 1000;  //time in ms (1 seconds)
 

  //on keyup, start the countdown
  $('#search').keyup(function(){
      clearTimeout(typingTimer);
      if ($('#search').val()) {
          typingTimer = setTimeout(doneTyping, doneTypingInterval);
      }
  });
  var list = document.getElementById("list");
  function doneTyping () {
      var search = $('#search').val();
      var token  = "pk.eyJ1Ijoia2V2b2pvcCIsImEiOiJjbDQ5azlsZW8wNmZ1M2hvNzcwcGpvMjNpIn0.UpQvTFXdpCC2JQvkM3ZYfw"; //mapbox token
      $.getJSON('https://api.mapbox.com/geocoding/v5/mapbox.places/'+search+'.json?country=in&proximity=ip&language=en&access_token='+token, function(json_data){
      list.innerHTML = "";
     for(var i=0; i<json_data.features.length; i++)
      {
          var listItem = document.createElement("LI");

          listItem.className = "My_LI_Routes";

          listItem.textContent = json_data.features[i].place_name;

          list.appendChild(listItem);
          listItem.addEventListener("click", function(){
              event.preventDefault();
              //send listitem to input
              $('#search').val(this.textContent);
             
              {% comment %} $.ajax({
                  url: "",
                  type: "POST",
                  data: listItem.content,
                  success: function(data){
                      alert("data");
                      list.innerHTML = "";

                  }
              }); {% endcomment %}
          });
      } 
      //clear the list
      //
      $('.search_list').slideDown();
      $('.search_list').mouseleave(function(){
          $('.search_list').slideUp();
      });
      });
      

  }
</script>


{% endblock scripts %}
